.tab-name-list{
  margin-bottom: 1rem;
  margin-left: 10px;
}

.tab-name-item{
  background-image: linear-gradient(to right, rgb(0, 162, 255), blue);
  background-repeat: no-repeat;
  background-size: 0 4px;
  background-position: 0 26px;
  padding-bottom: 1rem;
  padding-right: 2px;
  margin-right: 1rem;
  font-size: larger;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.tab-name-item.active{
  background-size: 100% 4px;
}