.black-card-product-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: 1s;
  transform: translateY(20px);
}