.table-products-cart-container{
  width: 1200px;
  margin: 2rem 0;
}

.table-products-cart{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table-products-cart th{
  text-align: start;
}

.table-products-cart td{
  text-align: left;
  border-top:1px solid rgb(202, 202, 202) ;
  padding: 0.8rem 0;
}

.table-products-cart tr{
  border: none;
}

.table-products-cart thead th:nth-child(1){
  border-top-left-radius: 10px;
}

.table-products-cart thead th:last-child{
  border-top-right-radius: 10px;
}

.table-products-cart tbody td:first-child{
  border-left: 1px solid rgb(202, 202, 202);
}

.table-products-cart tbody td:last-child{
  border-right: 1px solid rgb(202, 202, 202);
}

.table-products-cart .input-table{
  padding: 10px 0;
  padding-left: 5px;
  border-radius: 7px;
  border: 1px solid rgb(202, 202, 202);
  outline: none;
}

.table-products-cart .input-table:focus{
  border: 1px solid blue;
}

.table-products-cart .fa-times{
  transition: 0.4s ease-in-out;
}

.table-products-cart .fa-times:hover{
  color: grey;
}

.cart-total-container{
  border-top: 1px solid rgb(202, 202, 202);
  padding: 1rem;
  border: 1px solid rgb(202, 202, 202);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cart-total-container .title{
  font-weight: 500;
  font-size: larger;
}