.carousel-product-container{
  height: 500px;
  background-color: black;
}

.carousel-product-list{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-chevron-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  font-size: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.carousel-chevron-container.left{
  left: 0;
}

.carousel-chevron-container.left i{
  transform: translateX(-50px);
  transition: 0.4s;
}

.carousel-chevron-container.right{
  right: 0;
}

.carousel-chevron-container.right i{
  transform: translate(50px);
  transition: 0.4s;
}

.carousel-chevron-container:hover i{
  transform: translateX(0);
}
