.container-products-list-filter{
  position: relative;
  width: 100%;
}

.container-product-item--absolute{
  position: absolute;
  top: 100%;
  transition: 0.6s;
}

.container-product-item--absolute.active{
  top: 0;
}

@media(max-width:597px){
  .container-product-item--absolute{
    transition: 1s;
  }
}