.footer{
  width: 100%;
  background-color: #212121;
  color: white;
  padding: 5rem 0;
}

.footer-item-container{
  margin: 0 2rem;
}

.footer .footer-list-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer .footer-item-container h4{
  font-size: 1.2rem;
  font-weight: 450;
}

.footer .footer-item-container a{
  text-decoration: none;
  color: rgb(158, 158, 158);
  transition: 0.5s;
}

.footer .footer-item-container a:hover{
  color: white;
}

.footer .footer-list{
  list-style-type: none;
  padding: 0;
  color: rgb(185, 185, 185);
  line-height: 2.3rem;
}