.head-line-container{
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(209, 209, 209, 0.863);
}
.head-line-link{
  text-decoration: none;
  text-transform: capitalize;
}

.head-line-title{
  text-transform: capitalize;
  font-size: 2.5rem;
}